<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.luis_santiago.pomodoro">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.luis_santiago.pomodoro.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.luis_santiago.pomodoro.SettingsActivity" android:parentActivityName="com.luis_santiago.pomodoro.MainActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value="com.luis_santiago.pomodoro.MainActivity"/>
        </activity>
    </application>

</manifest>